body {
    margin: 30px 80px 30px 80px;
    background-color:darkgrey;
    font-family: Arial, sans-serif;
    font-size: 125%;
}

#header {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    border-bottom: brown solid;
}
#header ul {
    list-style-type: none;
    overflow: hidden;
    justify-content: flex-end;
}
#header li {
    float: left;
    height: 40px;
    padding: 5px 15px;
    justify-content: center;
    border-radius: 5px;
}

.menu_wybrany {
    background-color: yellow;
}

#header li a {
    display: block;
    padding: 0 16px;
    text-decoration: none;
}
#header li:hover {
    background-color: cadetblue;
}
#logo {
    margin: 0 20px;
    padding: 0;
    font-size: 300%;
    font-weight: 700;
    flex: 0 0 200px;
}
#logo p {
    margin: 0;
}
#main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: brown solid;
}

#main div:first-of-type {
    flex: 1 1 500px;
    align-content: flex-start;
}
#main div:last-of-type {
    padding: 50px;
    justify-self: flex-end;
    margin-left: auto;
}

#blog {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: brown solid;
}

#blog  div {
    flex: 1 1 250px;
    padding: 20px;
    border-bottom: blueviolet;
}

#articles {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: brown solid;
}

#articles div {
    flex: 1 1 250px;
    padding: 20px;
}

.dot {
    color: yellow;
}

.btn {
    background-color: yellow;
    width: 150px;
    height: 30px;
}

#name
{
    width: 220px;
    height: 28px;
}

#email {
    width: 250px;
    height: 28px;
}

#message {
    width: 420px;
    height: 150px;
}

#footer_logo {
    font-size: 120%;
}

#footer_copyright {
    font-size: 100%;
}

#photos { 
    margin-left: auto;
    margin-right: auto;

    display: grid;

    grid-gap: 10px;
    grid-template-columns: 240px 240px 240px;
    grid-template-rows: 240px 240px 240px 240px;
    grid-auto-rows: 2400px;
    grid-auto-columns: 240px;
    background-color: darkgray;
    align-items: center;
    justify-content: center;
    padding: 10px 0px 10px 0px;
    border-color:transparent;
    border-style:none;

}
.photo { 
    width: 220px;
    height: 220px;
    opacity: 90%;
    display: grid;
    background-color: cornflowerblue;
}


.styles {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    padding: 0;
    margin: 0 0;
    border: brown solid;
}

.styles div {
    border: brown solid;
    padding: 0 0;
    margin: 0 0;
}

.half {
	width: 46%;
	margin-right: 3%;
	float: left;
}
.third{
	width: 30%;
	margin-right: 3%;
	float: left;
}
.fourths{
	width: 22%;
	margin-right: 3%;
	float: left;
}
.two-third, .cta.two-third{
	width: 63%;
	margin-right: 3%;
	float: left;
}
.three-fourths{
	width: 72%;
	margin-right: 3%;
	float: left;
}
.left {
	float: left;
}
.right {
	float: right;
}
.last { 
    margin-right: 0!important; 
    padding-right: 0!important; 
    border-right: none!important; 
}
.clearfix:after {
    clear: both;
}