
body {
    display: flex;
    flex-direction: column;
    background-color: seashell;
    font-family: Arial, sans-serif;
}

header {
    margin: 0;
    display: inline;
}

header nav {
    display: flex;
    flex-direction: row;
}

header #logo {
    color: mediumvioletred;
    font-size: 125%;
    background-color: lightyellow;
    height: 30px;
    padding: 7px;
    margin: 0;
}
header nav ul {
    list-style-type: none;
    justify-content: left;
    display: flex;
    flex-direction: row;
    margin: 0;
}
header nav li {
    height: 30px;
    min-width: 80px;
    text-align: center;
    padding-left: 10px;
    margin-bottom: auto;
    background-color: yellow;
}
header nav li:hover {
    background-color: cadetblue;
}

#main {
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin: 0;
    padding: 5px;
    width: 100%;
    border-top: darkorange solid 1px;
}

.list_item {
    border-bottom: darkorange solid 1px;
}

.list_item img {
    float: left;
    padding: 2px;
    max-width: 50px;
}

.list_item_title {
    float: left;
    padding: 5px;
}

.list_item_wrap {
    clear: both;
}

.list_item_content {
    padding: 5px;
}

aside {
    padding: 10px;
    margin: 0;
    padding: 15px;
}

aside h1 {
    margin-left: 20%;
}

aside button {
    border-radius: 10px;
    padding: 10px;
}
aside button:hover {
    background: lightskyblue;
}